@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;500&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 140%;
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  max-width: 1440 px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

.header {
  position: absolute;
  width: 100%;
  padding: 10px;
}
.header-block {
  max-width: 1260px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: calc(50px + 50 * (100vw - 767px) / (1440 - 767));
}
.header__logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.header__nav-items {
  display: flex;
  align-items: center;
  gap: calc(10px + 40 * (100vw - 767px) / (1440 - 767));
}
.header__nav-item {
  color: #FFF;
  font-size: calc(10px + 3 * (100vw - 767px) / (1440 - 767));
  font-weight: 700;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  white-space: nowrap;
}
.header__nav-menu-icon {
  display: none;
}
.header__contact {
  color: #FFF;
  font-size: calc(10px + 6 * (100vw - 767px) / (1440 - 767));
  font-weight: 500;
  letter-spacing: 0.8px;
  white-space: nowrap;
}
.header__contact::before {
  content: "✆";
  display: inline-block;
  font-size: calc(16px + 4 * (100vw - 767px) / (1440 - 767));
  padding-right: 5px;
}

@media (max-width: 767px) {
  .header {
    height: 100px;
    background-color: #000046;
  }
  .header__logo {
    width: 78px;
  }
  .header__nav {
    order: 3;
  }
  .header__nav-items {
    position: fixed;
    top: -1px;
    left: -100%;
    width: 100%;
    margin-top: 100px;
    padding: 0 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
    flex-direction: column;
    align-items: flex-start;
    background-color: #000046;
  }
  .header__nav-items._active {
    left: 0;
  }
  .header__nav-item {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .header__nav-menu-icon {
    display: block;
    position: relative;
    margin-right: 10px;
    z-index: 5;
    cursor: pointer;
    width: 20px;
    height: 14px;
  }
  .header__nav-menu-icon div {
    position: absolute;
    top: -75%;
    left: -35%;
    background-color: rgba(240, 241, 244, 0.3019607843);
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }
  .header__nav-menu-icon span, .header__nav-menu-icon::before, .header__nav-menu-icon::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    background-color: #fff;
  }
  .header__nav-menu-icon::before, .header__nav-menu-icon::after {
    content: "";
  }
  .header__nav-menu-icon::before {
    top: 0;
  }
  .header__nav-menu-icon::after {
    bottom: 0;
  }
  .header__nav-menu-icon span {
    top: 50%;
    transform: translate(0, -50%);
  }
  .header__nav-menu-icon._active span {
    transform: scale(0) translate(0, 50%);
  }
  .header__nav-menu-icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  .header__nav-menu-icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  .header__contact {
    font-size: 16px;
  }
  .header__contact::before {
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .header__logo {
    width: 100px;
  }
  .header__nav-items {
    gap: 50px;
  }
  .header__nav-item {
    font-size: 13px;
  }
  .header__contact {
    font-size: 16px;
  }
  .header__contact::before {
    font-size: 20px;
  }
}
.btn_blue_fill {
  background-color: #44A1E7;
  color: #fff;
}

.btn_blue_outline {
  border: 1px solid #44A1E7;
  color: #fff;
}

.btn_blue_fill:hover, .btn_blue_outline:hover {
  background-color: #3681b9;
}

.btn_light_fill {
  background-color: #fff;
  color: #000046;
}

.btn-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 52px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn_borderless {
  font-size: 13px;
  font-weight: 700;
  line-height: 170%;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn_borderless::after {
  content: "⟶";
  font-size: 20px;
  margin-left: 5px;
}
.btn_borderless:hover {
  color: #44A1E7;
}
.btn_borderless_dark {
  color: #000046;
}
.btn_borderless_light {
  color: #fff;
}

.section-title {
  font-family: Poppins;
  font-size: 32px;
  line-height: 130%;
}
.section-title_dark {
  color: #000046;
}
.section-title_light {
  color: #fff;
}

@media (max-width: 767px) {
  .section-title {
    font-size: calc(24px + 8 * (100vw - 320px) / (767 - 320));
  }
}
.section-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 170%;
}
.section-description_dark {
  color: #4F4F4F;
}
.section-description_light {
  color: #fff;
}

.nav-menu-item {
  color: #44A1E7;
  font-size: 13px;
  font-weight: 700;
  line-height: 170%;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 100px 20px 0;
  background: url("/images/backgrounds/about-us.jpg") center no-repeat;
}
.welcome__title {
  max-width: 730px;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 45px;
  line-height: 130%;
}
.welcome__description {
  max-width: 550px;
  margin: 30px 0 50px;
  color: #FFF;
  text-align: center;
  font-size: calc(16px + 2 * (100vw - 320px) / (1440 - 320));
  line-height: 170%;
}
.welcome__btns {
  display: flex;
  gap: 30px;
}
.welcome__scroll {
  color: rgba(255, 255, 255, 0.8);
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 3.08px;
  text-transform: uppercase;
  position: absolute;
  bottom: 90px;
}
.welcome__scroll::before {
  content: "";
  width: 1px;
  height: 150px;
  background-color: #44A1E7;
  position: absolute;
  top: 110%;
  left: 50%;
  z-index: 5;
}

@media (max-width: 767px) {
  .welcome {
    padding-top: 50px;
  }
  .welcome__title {
    font-size: calc(27px + 18 * (100vw - 320px) / (767 - 320));
  }
  .welcome__description {
    margin-bottom: 30px;
  }
  .welcome__btns {
    flex-direction: column;
    gap: 20px;
  }
  .welcome__scroll {
    font-size: 11px;
    bottom: 50px;
  }
  .welcome__scroll::before {
    height: 80px;
  }
}
.about-us__main-cover {
  padding: 145px 0 95px;
  position: relative;
}
.about-us__main-cover::before {
  content: "";
  display: block;
  width: calc(600px + 330 * (100vw - 767px) / (1440 - 767));
  height: 770px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #F0F1F4;
  z-index: -1;
}
.about-us__main {
  max-width: 2000px;
  margin: 0 auto;
  display: flex;
  gap: calc(30px + 80 * (100vw - 767px) / (1440 - 767));
}
.about-us__img-block {
  flex: 0 1 630px;
  min-width: 350px;
  position: relative;
}
.about-us__img-block::after {
  content: "01";
  font-size: calc(200px + 100 * (100vw - 767px) / (1440 - 767));
  font-weight: 900;
  line-height: 130%;
  -webkit-text-stroke: 1.5px #44A1E7;
  color: transparent;
  position: absolute;
  top: -30%;
  left: 10%;
}
@media (max-width: 767px) {
  .about-us__img-block::after {
    font-size: calc(130px + 60 * (100vw - 320px) / (767 - 320));
    -webkit-text-stroke: 1px #44A1E7;
    top: -25%;
    left: 5%;
  }
}
@media (min-width: 1440px) {
  .about-us__img-block::after {
    font-size: 300px;
  }
}
.about-us__img-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.about-us__info-block {
  max-width: 530px;
  padding: 55px 10px;
}
.about-us__title {
  margin: 30px 0;
}
.about-us__description {
  margin-bottom: 50px;
}
.about-us__statistic {
  display: flex;
  justify-content: space-between;
  margin: 120px calc(25px + 55 * (100vw - 767px) / (1440 - 767)) 0;
}
.about-us__statistic-item {
  padding-left: calc(15px + 15 * (100vw - 767px) / (1440 - 767));
  border-left: 1px solid #44A1E7;
  position: relative;
  margin-right: calc(10px + 10 * (100vw - 767px) / (1440 - 767));
}
.about-us__statistic-item::before {
  content: "";
  width: 60px;
  height: 100%;
  background-color: #F0F1F4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.about-us__statistic-count {
  color: #44A1E7;
  font-size: 45px;
  font-weight: 700;
  line-height: 130%;
}
.about-us__statistic-title {
  color: #000046;
  font-size: 16px;
  line-height: 130%;
  margin: 4px 0 16px;
}
.about-us__statistic-title span {
  font-weight: 700;
}
.about-us__statistic-description {
  color: #4F4F4F;
  font-size: 14px;
  line-height: 160%;
}

@media (max-width: 767px) {
  .about-us__main-cover {
    padding: 100px 20px 90px;
    background-color: #F0F1F4;
  }
  .about-us__main-cover::before {
    display: none;
  }
  .about-us__main {
    flex-direction: column;
  }
  .about-us__img-block {
    max-height: 370px;
    width: 100vw;
    margin-left: -20px;
  }
  .about-us__info-block {
    max-width: 100%;
    padding: 30px 0 0 0;
  }
  .about-us__statistic {
    margin: 90px calc(20px + 30 * (100vw - 320px) / (767 - 320)) 0;
    flex-direction: column;
    gap: 40px;
  }
}
.services {
  margin-top: 190px;
  position: relative;
}
.services::after {
  content: "02";
  font-size: calc(200px + 100 * (100vw - 767px) / (1440 - 767));
  font-weight: 900;
  line-height: 130%;
  -webkit-text-stroke: 1.5px #44A1E7;
  color: transparent;
  position: absolute;
  top: -7%;
  left: 5%;
}
@media (max-width: 767px) {
  .services::after {
    font-size: calc(130px + 60 * (100vw - 320px) / (767 - 320));
    -webkit-text-stroke: 1px #44A1E7;
    top: -3%;
    left: 5%;
  }
}
@media (min-width: 1440px) {
  .services::after {
    font-size: 300px;
  }
}
.services__block {
  background-color: #000046;
  padding: 100px 0 157px;
}
.services__introduction {
  max-width: 630px;
  margin: 0 auto 100px;
  text-align: center;
}
.services__title {
  margin: 30px 0;
}
.services__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, calc(367px + 60 * (100vw - 767px) / (1440 - 767))));
  justify-content: center;
  justify-items: center;
  max-width: 1281px;
  margin: 0 auto;
}
.services__card {
  width: calc(367px + 60 * (100vw - 767px) / (1440 - 767));
  padding: 30px calc(10px + 20 * (100vw - 767px) / (1440 - 767)) 45px;
}
.services__card-question {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #44A1E7;
}
.services__card-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 190px;
}
.services__card-title {
  color: #FFF;
  font-family: Poppins;
  font-size: 18px;
  line-height: 130%;
  margin: 30px 0 20px;
}
.services__card-description {
  color: #FFF;
  font-size: 14px;
  line-height: 160%;
  margin-bottom: 30px;
}
.services__question {
  color: #FFF;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 130%;
}
.services .strategy__block {
  padding: 160px 10px 200px;
  text-align: center;
  background: url("/images/backgrounds/about-us_strategy.jpg") center no-repeat;
}
.services .strategy__title {
  color: #fff;
}
.services .strategy__description {
  max-width: 800px;
  margin: 30px auto 0;
}

@media (max-width: 767px) {
  .services {
    margin-top: 135px;
  }
  .services__block {
    padding: 120px 0 0;
  }
  .services__introduction {
    padding: 0 20px 0;
  }
  .services__cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .services__card {
    width: 100%;
    max-width: 455px;
    padding: 30px calc(25px + -10 * (100vw - 320px) / (767 - 320)) 45px;
  }
  .services__card-question {
    height: 400px;
  }
  .services .strategy__block {
    padding: 156px 20px;
  }
}
@media (min-width: 1440px) {
  .services__cards {
    grid-template-columns: repeat(3, 427px);
  }
  .services__card {
    width: 427px;
    padding: 30px 30px 45px;
  }
}
.verticals {
  max-width: 1440px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: calc(20px + 20 * (100vw - 767px) / (1440 - 767));
  margin: 220px auto 100px;
  position: relative;
}
.verticals::after {
  content: "03";
  font-size: calc(200px + 100 * (100vw - 767px) / (1440 - 767));
  font-weight: 900;
  line-height: 130%;
  -webkit-text-stroke: 1.5px #44A1E7;
  color: transparent;
  position: absolute;
  top: -65%;
  left: 5%;
}
@media (max-width: 767px) {
  .verticals::after {
    font-size: calc(130px + 60 * (100vw - 320px) / (767 - 320));
    -webkit-text-stroke: 1px #44A1E7;
    top: -16%;
    left: 25px;
  }
}
@media (min-width: 1440px) {
  .verticals::after {
    font-size: 300px;
  }
}
.verticals .about-us__info-block {
  padding: 0 0 0 calc(20px + 60 * (100vw - 767px) / (1440 - 767));
}
.verticals__carousel {
  position: relative;
}
.verticals__carousel-btns {
  position: absolute;
  top: -75px;
  right: 80px;
}
.verticals__carousel-btns span {
  color: #6D7DA0;
  font-size: 32px;
  line-height: 130%;
}
.verticals__carousel-btns .btn-next, .verticals__carousel-btns .btn-prev {
  color: #44A1E7;
  cursor: pointer;
}
.verticals__carousel-btns .btn-next::after, .verticals__carousel-btns .btn-prev::after {
  font-size: 40px;
  margin-left: 5px;
}
.verticals__carousel-btns .btn-next.no-active, .verticals__carousel-btns .btn-prev.no-active {
  color: #CCCCDA;
}
.verticals__carousel-btns .btn-prev::after {
  content: "⟵";
}
.verticals__carousel-btns .btn-next::after {
  content: "⟶";
}
.verticals__carousel-gallery {
  display: flex;
  width: calc(325px + 475 * (100vw - 767px) / (1440 - 767));
  overflow: hidden;
}
.verticals__carousel-items {
  display: flex;
  gap: 20px;
}
.verticals__carousel-item {
  width: 290px;
  height: 500px;
  position: relative;
}
.verticals__carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.verticals__carousel-item span {
  position: absolute;
  z-index: 5;
  bottom: 30px;
  left: 20px;
  color: #FFF;
  font-family: Poppins;
  font-size: 20px;
  line-height: 130%;
}

@media (max-width: 767px) {
  .verticals {
    flex-direction: column;
    gap: 190px;
    margin: 130px auto 10px;
  }
  .verticals .about-us__info-block {
    padding: 0 20px;
  }
  .verticals__carousel {
    margin-left: 20px;
  }
  .verticals__carousel-btns {
    top: -90px;
    left: 0;
  }
  .verticals__carousel-gallery {
    width: 100vw;
  }
}
@media (min-width: 1440px) {
  .verticals .about-us__info-block {
    padding-left: 80px;
  }
  .verticals__carousel-gallery {
    width: 800px;
  }
}
.partners {
  padding: 30px 40px 115px;
  background-color: #F0F1F4;
  position: relative;
}
.partners::after {
  content: "04";
  font-size: calc(200px + 100 * (100vw - 767px) / (1440 - 767));
  font-weight: 900;
  line-height: 130%;
  -webkit-text-stroke: 1.5px #44A1E7;
  color: transparent;
  position: absolute;
  top: -15%;
  left: 65%;
}
@media (max-width: 767px) {
  .partners::after {
    font-size: calc(130px + 60 * (100vw - 320px) / (767 - 320));
    -webkit-text-stroke: 1px #44A1E7;
    top: -8%;
    left: 50%;
  }
}
@media (min-width: 1440px) {
  .partners::after {
    font-size: 300px;
  }
}
.partners__title {
  margin: 30px 0;
}
.partners__info {
  max-width: 620px;
  text-align: center;
  margin: 0 auto;
}
.partners__cards {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.partners__card {
  width: 290px;
  height: 500px;
  padding: 30px;
  background-color: #fff;
  color: #000046;
}
.partners__card-img {
  width: 230px;
  height: 230px;
  position: relative;
  margin-bottom: 30px;
}
.partners__card-img img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.partners__card-name {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
}
.partners__card-description {
  color: #000046;
  font-size: 14px;
  line-height: 160%;
  margin: 20px 0 30px;
}