$title-max-size: 45;
$title-min-size: 27;

// ===============================
// WELCOME
// ===============================
.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 100px 20px 0;
    background: url('/images/backgrounds/about-us.jpg') center no-repeat;

    &__title {
        max-width: 730px;

        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: #{$title-max-size}px;
        line-height: 130%;
    }

    &__description {
        max-width: 550px;
        margin: 30px 0 50px;

        color: #FFF;
        text-align: center;
        font-size: calcSize(16, 18, $min-width);
        line-height: 170%;
    }

    &__btns {
        display: flex;
        gap: 30px;
    }

    // SCROLL
    &__scroll {
        color: rgba(255, 255, 255, 0.80);
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 3.08px;
        text-transform: uppercase;
        position: absolute;
        bottom: 90px;

        &::before {
            content: '';
            width: 1px;
            height: 150px;
            background-color: $light-blue;
            position: absolute;
            top: 110%;
            left: 50%;
            z-index: 5;
        }
    }
}

@media (max-width: #{$middle-width}px) {
    .welcome {
        padding-top: 50px;

        &__title {
            font-size: calcSize($title-min-size, $title-max-size, $min-width, $middle-width);
        }

        &__description {
            margin-bottom: 30px;
        }

        &__btns {
            flex-direction: column;
            gap: 20px;
        }

        &__scroll {
            font-size: 11px;
            bottom: 50px;

            &::before {
                height: 80px;
            }
        }
    }
}


// ===============================
// ABOUT US
// ===============================
.about-us {
    &__main-cover {
        padding: 145px 0 95px;
        position: relative;

        // gray background
        &::before {
            content: '';
            display: block;
            width: calcSize(600, 930);
            height: 770px;
            position: absolute;
            top: 0;
            right: 0;
            background-color: $background-gray-light;
            z-index: -1;
        }
    }

    &__main {
        max-width: 2000px;
        margin: 0 auto;
        display: flex;
        gap: calcSize(30, 110);
    }

    // IMAGE BLOCK
    &__img-block {
        flex: 0 1 630px;
        min-width: 350px;
        position: relative;

        @include sectionNumber('01', -30%, 10%, -25%, 5%);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    // INFO BLOCK
    &__info-block {

        max-width: 530px;
        padding: 55px 10px;
    }

    &__title {
        margin: 30px 0;
    }

    &__description {
        margin-bottom: 50px;
    }


    // STATISTIC
    &__statistic {
        display: flex;
        justify-content: space-between;
        margin: 120px calcSize(25, 80) 0;

        &-item {
            padding-left: calcSize(15, 30);
            border-left: 1px solid $light-blue;
            position: relative;
            margin-right: calcSize(10, 20);

            &::before {
                content: '';
                width: 60px;
                height: 100%;
                background-color: $background-gray-light;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        &-count {
            color: $light-blue;
            font-size: 45px;
            font-weight: 700;
            line-height: 130%;
        }

        &-title {
            color: $midnight-blue-color;
            font-size: 16px;
            line-height: 130%;
            margin: 4px 0 16px;

            span {
                font-weight: 700;
            }
        }

        &-description {
            color: $gray;
            font-size: 14px;
            line-height: 160%;
        }
    }
}

@media (max-width: #{$middle-width}px) {
    .about-us {
        &__main-cover {
            padding: 100px 20px 90px;
            background-color: $background-gray-light;

            // gray background
            &::before {
                display: none;
            }
        }

        &__main {
            flex-direction: column;
        }

        // IMAGE BLOCK
        &__img-block {
            max-height: 370px;
            width: 100vw;
            margin-left: -20px;
        }

        // INFO BLOCK
        &__info-block {
            max-width: 100%;
            padding: 30px 0 0 0;
        }


        // STATISTIC
        &__statistic {
            margin: 90px calcSize(20, 50, $min-width, $middle-width) 0;
            flex-direction: column;
            gap: 40px;
        }
    }
}


// ===============================
// SERVICES
// ===============================
$card-width: calcSize(367, 427);

.services {
    margin-top: 190px;
    position: relative;

    @include sectionNumber('02', -7%, 5%, -3%, 5%);

    // INTRODUCTION
    &__block {
        background-color: $midnight-blue-color;
        padding: 100px 0 157px;
    }

    &__introduction {
        max-width: 630px;
        margin: 0 auto 100px;
        text-align: center;
    }

    &__title {
        margin: 30px 0;
    }


    // INFO CARDS
    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, #{$card-width}));
        justify-content: center;
        justify-items: center;
        max-width: 1281px;
        margin: 0 auto;
    }

    &__card {
        width: #{$card-width};
        padding: 30px calcSize(10, 30) 45px;

        &-question {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: $light-blue;
        }

        &-img {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 190px;
        }

        &-title {
            color: #FFF;
            font-family: Poppins;
            font-size: 18px;
            line-height: 130%;
            margin: 30px 0 20px;
        }

        &-description {
            color: #FFF;
            font-size: 14px;
            line-height: 160%;
            margin-bottom: 30px;
        }
    }

    &__question {
        color: #FFF;
        font-family: Poppins;
        font-size: 32px;
        font-weight: 700;
        line-height: 130%;
    }

    // STRATEGY
    .strategy {
        &__block {
            padding: 160px 10px 200px;
            text-align: center;
            background: url('/images/backgrounds/about-us_strategy.jpg') center no-repeat;
        }

        &__title {
            color: $light;
        }

        &__description {
            max-width: 800px;
            margin: 30px auto 0;
        }
    }
}

@media (max-width: #{$middle-width}px) {
    .services {
        margin-top: 135px;

        // INTRODUCTION
        &__block {
            padding: 120px 0 0;
        }

        &__introduction {
            padding: 0 20px 0;
        }


        // INFO CARDS
        &__cards {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }

        &__card {
            width: 100%;
            max-width: 455px;
            padding: 30px calcSize(25, 15, $min-width, $middle-width) 45px;

            &-question {
                height: 400px;
            }
        }


        // STRATEGY
        .strategy {
            &__block {
                padding: 156px 20px;
            }
        }
    }
}

@media (min-width: #{$max-width}px) {
    .services {
        // INFO CARDS
        &__cards {
            grid-template-columns: repeat(3, 427px);
        }

        &__card {
            width: 427px;
            padding: 30px 30px 45px;
        }
    }
}


// ===============================
// VERTICALS
// ===============================
.verticals {
    max-width: 1440px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: calcSize(20, 40);
    margin: 220px auto 100px;
    position: relative;

    @include sectionNumber('03', -75%, 5%, 0, 0);

    .about-us__info-block {
    }

    &__carousel {
        position: relative;

        &-btns {
            position: absolute;
            top: -75px;
            right: 80px;


            span {
                color: #6D7DA0;
                font-size: 32px;
                line-height: 130%;
            }

            .btn-next, .btn-prev {
                color: $light-blue;
                cursor: pointer;

                &::after {
                    font-size: 40px;
                    margin-left: 5px;
                }

                &.no-active {
                    color: #CCCCDA;
                }
            }

            .btn-prev {
                &::after {
                    content: '\27F5';
                }
            }

            .btn-next {
                &::after {
                    content: '\27F6';
                }
            }
        }

        &-gallery {
            display: flex;
            overflow: hidden;
        }

        &-items {
            display: flex;
            gap: 20px;
        }

        &-item {
            width: 290px;
            height: 500px;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            span {
                position: absolute;
                z-index: 5;
                bottom: 30px;
                left: 20px;

                color: #FFF;
                font-family: Poppins;
                font-size: 20px;
                line-height: 130%;
            }
        }
    }
}
