$title-max-size: 45;
$title-min-size: 27;

// ===============================
// WELCOME
// ===============================
.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 100px 20px 0;
    background: url('/images/backgrounds/about-us.jpg') center no-repeat;

    &__title {
        max-width: 730px;

        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: #{$title-max-size}px;
        line-height: 130%;
    }

    &__description {
        max-width: 550px;
        margin: 30px 0 50px;

        color: #FFF;
        text-align: center;
        font-size: calcSize(16, 18, $min-width);
        line-height: 170%;
    }

    &__btns {
        display: flex;
        gap: 30px;
    }

    // SCROLL
    &__scroll {
        color: rgba(255, 255, 255, 0.80);
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 3.08px;
        text-transform: uppercase;
        position: absolute;
        bottom: 90px;

        &::before {
            content: '';
            width: 1px;
            height: 150px;
            background-color: $light-blue;
            position: absolute;
            top: 110%;
            left: 50%;
        }
    }
}

@media (max-width: #{$middle-width}px) {
    .welcome {
        padding-top: 50px;

        &__title {
            font-size: calcSize($title-min-size, $title-max-size, $min-width, $middle-width);
        }

        &__description {
            margin-bottom: 30px;
        }

        &__btns {
            flex-direction: column;
            gap: 20px;
        }

        &__scroll {
            font-size: 11px;
            bottom: 50px;

            &::before {
                height: 100px;
            }
        }
    }
}


// ===============================
// ABOUT US
// ===============================
.about-us {
    &__main-cover {
        padding: 145px 0 95px;
        position: relative;

        // gray background
        &::before {
            content: '';
            display: block;
            width: calcSize(600, 930);
            height: 770px;
            position: absolute;
            top: 0;
            right: 0;
            background-color: $background-gray-light;
            z-index: 1;
        }
    }

    &__main {
        display: flex;
        gap: calcSize(30, 110);
    }

    // IMAGE BLOCK
    &__img-block {
        flex: 0 1 630px;
        min-width: 350px;
        position: relative;
        z-index: 5;

        @include sectionNumber('01', -40%, 10%, -25%, 5%);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    // INFO BLOCK
    &__info-block {
        z-index: 5;

        max-width: 530px;
        padding: 55px 10px 0 0;
    }

    &__title {
        margin: 30px 0;
    }

    &__description {
        color: $gray;
        font-size: 16px;
        line-height: 170%;
        margin-bottom: 50px;
    }


    // STATISTIC
    &__statistic {
        display: flex;
        justify-content: space-between;
        margin: 120px calcSize(25, 80) 0;

        &-item {
            padding-left: calcSize(15, 30);
            border-left: 1px solid $light-blue;
            position: relative;
            margin-right: calcSize(10, 20);

            &::before {
                content: '';
                width: 60px;
                height: 100%;
                background-color: $background-gray-light;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        &-count {
            color: $light-blue;
            font-size: 45px;
            font-weight: 700;
            line-height: 130%;
        }

        &-title {
            color: $midnight-blue-color;
            font-size: 16px;
            line-height: 130%;
            margin: 4px 0 16px;

            span {
                font-weight: 700;
            }
        }

        &-description {
            color: $gray;
            font-size: 14px;
            line-height: 160%;
        }
    }
}

@media (max-width: #{$middle-width}px) {
    .about-us {
        &__main-cover {
            padding: 100px 20px 90px;
            background-color: $background-gray-light;

            // gray background
            &::before {
                display: none;
            }
        }

        &__main {
            flex-direction: column;
        }

        // IMAGE BLOCK
        &__img-block {
            max-height: 370px;
            width: 100vw;
            margin-left: -20px;
        }

        // INFO BLOCK
        &__info-block {
            max-width: 100%;
            padding: 30px 0 0 0;
        }


        // STATISTIC
        &__statistic {
            margin: 90px calcSize(20, 50, $min-width, $middle-width) 0;
            flex-direction: column;
            gap: 40px;
        }
    }
}
