
.btn_blue_fill {
    background-color: $light-blue;

    color: $btn-white;
}

.btn_blue_outline {
    border: 1px solid $light-blue;

    color: $btn-white;
}

.btn_blue_fill, .btn_blue_outline {
    &:hover {
        background-color: $dark-blue;
    }
}

.btn-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 52px;

    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}