.section-title {
    font-family: Poppins;
    font-size: 32px;
    line-height: 130%;

    &_dark {
        color: $midnight-blue-color;
    }

    &_light {
        color: $light;
    }
}

@media (max-width: #{$middle-width}px) {
    .section-title {
        font-size: calcSize(24, 32, $min-width, $middle-width);
    }
}

.section-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 170%;

    &_dark {
        color: $gray;
    }

    &_light {
        color: $light;
    }
}

.nav-menu-item {
    color: $light-blue;
    font-size: 13px;
    font-weight: 700;
    line-height: 170%;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}