
// WIDTH
$max-width: 1440;
$middle-width: 767;
$min-width: 320;

$midnight-blue-color: #000046;
$pale-tinted-color: #F0F1F44D;
$light-blue: #44A1E7;
$dark-blue: #3681b9;

// ICONS
$phone-icon: '\2706';

// BUTTTON
$btn-white: #fff;