
// WIDTH
$max-width: 1440;
$middle-plus-width: 1000;
$middle-width: 767;
$min-width: 320;

$midnight-blue-color: #000046;
$pale-tinted-color: #F0F1F44D;
$light-blue: #44A1E7;
$dark-blue: #3681b9;
$gray: #4F4F4F;


// ICONS
$phone-icon: '\2706';

// BUTTTON
$btn-white: #fff;

// POLIGRAPHY
$light: #fff;

// BACKGROUND
$background-gray-light: #F0F1F4;